.topnav {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  a {
    float: none;
    display: block;
    color: var(--text-color);
    text-align: center;
    text-decoration: none !important;
    font-size: 17px;
    background-image: none !important;
  }
  a.active {
    background-color: #4caf50;
    color: var(--text-color);
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
  }

  .itemUnderline {
    margin-top: 0px;

    path {
      stroke: var(--text-color);
      stroke-width: 4;
      display: none;
    }
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 300;
    }
    to {
      stroke-dashoffset: 40;
    }
  }

  .item:hover {
    a {
      color: var(--text-color);
      font-weight: bold;
    }
    .itemUnderline path {
      display: inline-block;
      stroke-dasharray: 300;
      stroke-dashoffset: 40;
      animation: dash 1s linear alternate;
    }
  }

  .toggleMode {
    font-size: 35px;
    padding: 5px 45px 0px 5px;
    cursor: pointer;
  }
}

// ===============
// Mobile Menu Animated Opening
// ===============
.mobileMenu {
  position: relative;
  top: 0px;
  left: 10px;

  $page-background: #303f9f;
  $nav-background: var(--bg-color);
  $color: rgba(black, 0.87);
  $transition: 0.75s;

  .nav {
    width: 300px;
    background: $nav-background;
    color: $color;
    -webkit-clip-path: circle(24px at 30px 24px);
    clip-path: circle(30px at 32px 30px);
    transition: -webkit-clip-path $transition * 0.75, clip-path $transition/2;

    a {
      display: block;
      line-height: 50px;
      padding: 0 20px;
      color: inherit;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: #ffe082;
      }
      &:active {
        background: #ffca28;
      }
    }
  }

  .navOpen {
    transition-timing-function: ease-out;
    transition-duration: $transition;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
  }

  // ===============
  // Star Wars Menu Icon
  // ===============

  /*toggleicon*/
  .toggleicon {
    display: block;
    position: relative;
    width: 100%;
    margin: -2.2em auto 0 -0.4em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
    border: 1px solid black;
  }

  .toggleicon .bar {
    display: block;
    width: 1em;
    height: 0.1em;
    margin: 0.8em;
    border-right: 2.8em solid var(--text-color);
    border-left: 0.6em solid var(--text-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
  }
  .toggleicon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .toggleicon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  /*pushed*/
  .pushed .toggleicon {
    margin: -3.2em 0 0 0.7em;
  }

  .pushed .bar:nth-of-type(1) {
    opacity: 0;
  }

  .pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
  }

  .pushed .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
  }

  .pushed .toggleicon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
  }
  .pushed .toggleicon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
  }
}
