.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(var(--gradient-end), var(--gradient-start));
}

.c {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 200 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1px));
    }
  }

  .c:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 200s infinite;
    $size: random(3) + 1 + px;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1px));
    background: var(--text-color);
  }

  @media screen and (max-width: 700px) {
    @keyframes particle-animation-mobile-#{$i} {
      100% {
        transform: translate3d((random(400) * 1px), (random(800) * 1px), (random(100) * 1px));
      }
    }

    .c:nth-child(#{$i}) {
      animation: particle-animation-mobile-#{$i} 200s infinite;
      animation-delay: -$i * 0.2s;
      transform: translate3d((random(800) * 1px), (random(1000) * 1px), (random(100) * 1px));
    }
  }
}
