// @import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
// $laBelleAurore: "La Belle Aurore", sans-serif;

.container {
  width: 100vw;

  .background {
    height: 100vh;
    z-index: 10;
  }
  .headerClass {
    height: 10vh;
    backdrop-filter: blur(2px);
    transition: all 0.2s linear;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
  }
  .scroll {
    z-index: 10;
    background-color: var(--bg-color);
  }

  .tagHtml {
    position: absolute;
    top: 8%;
    left: 4%;
  }
  .tagHead {
    position: absolute;
    top: 13%;
    left: 8%;
  }
  .tagHeadClose {
    position: absolute;
    bottom: 15%;
    left: 8%;
  }
  .tagBody {
    position: absolute;
    bottom: -10%;
    left: 8%;
  }
  .tagH1 {
    position: absolute;
    bottom: -6%;
    left: 39%;
  }
  .home {
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
    flex: 1;
    flex-direction: row;

    .myPic {
      flex: 1;
      display: flex;
      justify-content: center;
      max-width: 100%;

      .profilePic {
        width: 400px;
        border-radius: 50%;
      }
    }

    .myDesc {
      flex: 1;
      backdrop-filter: blur(1px);
      border: 3px solid transparent;
      padding: 20px;

      &:hover {
        backdrop-filter: blur(3px);
        transition: all 0.2s linear;
      }

      .section1 {
        font-size: 46px;
        font-weight: 900;
        line-height: 1em;
        margin-bottom: 40px;
      }
      .section2 {
        font-size: 25px;
        margin-bottom: 40px;
      }
      .sectionDesc {
        font-size: 18px;
        margin-bottom: 40px;
      }
      .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
    }
    .iconContainer {
      background-color: var(--bg-sec-color);
      margin-right: 14px;
      font-size: 22px;
      padding: 0.6em;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: middle;
      display: flex;

      &:hover {
        background-color: var(--bg-hover-color);
      }
    }
    .icon {
      color: var(--text-color);
    }
  }

  .aboutMe {
    background-color: var(--about-me);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutHeader {
      font-size: 40px;
      margin-bottom: 40px;
    }
    .aboutDesc {
      font-size: 22px;
      text-align: center;
      padding: 0px 100px;
    }
  }

  .skills {
    background-color: var(--skills);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .skillsHeader {
      font-size: 40px;
      margin-bottom: 40px;
    }
    .skillsDesc {
      font-size: 22px;
      text-align: center;
      padding: 0px 100px;
    }
    .skillBox {
      display: flex;
      flex-wrap: wrap;
      width: 70vw;

      .skillItem {
        width: 13vw;
        height: 10vh;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .firstSection {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .aboutMe {
    flex-direction: column;
  }

  .myPic {
    margin-top: 10px;
  }

  .myDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px !important;
    text-align: center;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .myDesc {
    margin-right: 50px;
  }
}

.techBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.techBox > div {
  padding: 30px;
  border: 1px solid #e9e9e9;
  max-width: 350px;
}

@media screen and (max-width: 984px) {
  .techBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .techBox > div {
    padding: 30px;
    border: 1px solid #e9e9e9;
    flex: 1;
    max-width: 600px;
  }
}

.centerText {
  text-align: left;
}

.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .skillBox {
    flex-direction: column;
  }

  .skillItem {
    width: 100%;
  }
}

.skillImg {
  width: 35px;
  height: 42px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experienceContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.experienceItem {
  width: 45%;
  max-width: 800px;
}

.expBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f5ff;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
  transition: "background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s";
  margin-bottom: 0px;
  padding: 40px 40px 40px 40px;
}

.expGap {
  margin-top: 150px;
}

.expImage {
  width: 200px;
  resize: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expDuration {
  color: #4667fa;
  margin-top: -10px;
}

.projectsRow {
  display: grid;
  grid-template-columns: 600px 600px;
}

.projectsBox {
  background-color: #f3f5ff;
  border-radius: 4px;
  box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0);
  transition: "background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s";
  margin: 10px;
  overflow: hidden;
}

.projectImg {
  width: 100%;
  resize: contain;
  height: 400px;
}

.projDesc {
  padding: 15px 40px 40px 40px;
}

@media screen and (max-width: 1200px) {
  .experienceContainer {
    flex-direction: column;
  }

  .experienceItem {
    width: 100%;
  }

  .expGap {
    margin-top: 20px;
  }

  .projectsBox {
    margin: 5px;
  }

  .projectsRow {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  .projectImg {
    height: 40%;
  }
}

.boxTitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
}
.boxSubTitle {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: -10px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
}

.contactInfo > div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
}

.contactTitle {
  font-weight: bold;
  font-size: 15px;
}
.contactDesc {
  font-size: 15px;
}

@media screen and (max-width: 635px) {
  .contactInfo {
    flex-direction: column;
  }

  .contactInfo > div {
    margin-top: 20px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress {
  $white: #fefefe;
  $black: #000000;
  $transitionDuration: 0.3s;
  $transition: all $transitionDuration ease-in-out;

  .chart {
    font-size: 1em;

    perspective: 1000px;
    perspective-origin: 50% 50%;
    backface-visibility: visible;
  }

  $faceColor: rgba($white, 0.3);
  $growColor: rgba($white, 0.6);

  .bar {
    font-size: 0.3em;
    position: relative;
    height: 10em;

    transition: $transition;
    transform: rotateX(60deg) rotateY(0deg);
    transform-style: preserve-3d;

    .face {
      font-size: 2em;
      position: relative;
      width: 100%;
      height: 2em;
      background-color: $faceColor;

      &.sidea,
      &.sideb {
        width: 2em;
      }
    }
    .sidea {
      transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
      background-color: rgba($white, 0.6);
    }
    .sideb {
      transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
      position: absolute;
      right: 0;
    }
    .side0 {
      box-shadow: -0.5em -1.5em 4em $white;
      transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
    }
    .side1 {
      transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
    }
    .top {
      transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
    }
    .floor {
      box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3),
        1em -1em 8em $white;
      box-shadow: 0em 0em 2em $white;
    }
  }

  .growingBar {
    transition: $transition;
    background-color: $growColor;
    width: 90%;
    height: 2em;
    box-shadow: -0.5em -1.5em 4em $white;
    background-color: rgba($white, 0.6);
    box-shadow: 0em 0em 2em $white;
  }

  @for $i from 0 to 101 {
    .bar#{$i} {
      .growingBar {
        width: percentage($i/100);
      }
    }
  }
}
