@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
$quicksand: "Quicksand", sans-serif;

$backgroundGrid: linear-gradient(0deg, transparent 99%, var(--grid-lines) 1%),
  linear-gradient(90deg, transparent 99%, var(--grid-lines) 1%);

.gridPattern {
  padding: 80px 200px 250px 200px;
  background-color: transparent;
  background-image: $backgroundGrid;
  background-size: 200px 200px;
}

.dotPattern {
  padding: 80px 200px 250px 200px;
  background-color: transparent;
  background-size: 50px 50px;
  background-image: radial-gradient(var(--dots) 3%, transparent 0);
}

.flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  align-self: stretch;
  flex-direction: column;

  .respImg {
    width: 100%;
    height: auto;
  }
  .sectionHeader {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .sectionDesc {
    font-size: 20px;
    text-align: left;
    font-family: $quicksand;
  }
  .background {
    z-index: 200;
  }
  .scroll {
    z-index: 10;
    background-color: var(--bg-color);
  }

  .tag1 {
    position: absolute;
    top: 8%;
    left: 4%;
  }
  .tag2 {
    position: absolute;
    top: 13%;
    left: 8%;
  }
  .tag3 {
    position: absolute;
    bottom: 15%;
    left: 8%;
  }
  .tag4 {
    position: absolute;
    bottom: -10%;
    left: 8%;
  }
  .tag5 {
    position: absolute;
    bottom: -6%;
    left: 39%;
  }
  .tag6 {
    position: relative;
    top: 50px;
    left: -33%;
  }
  .tag7 {
    position: relative;
    top: 250px;
    left: -43%;
  }

  .home {
    @extend .flexCenter;
    height: 90vh;
    flex-direction: row;

    .myPic {
      @extend .flexCenter;

      .profilePic {
        width: 400px;
        border-radius: 50%;
        box-shadow: var(--smooth-shadow-def);
      }
    }

    .myDesc {
      flex: 1;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(1px);
      padding: 20px;

      &:hover {
        backdrop-filter: blur(3px);
        transition: all 0.2s linear;
      }

      .section1 {
        font-size: var(--heading);
        font-weight: 900;
        line-height: 1em;
        margin-bottom: 40px;
      }
      .section2 {
        font-size: var(--sub-heading);
        margin-bottom: 40px;
      }
      .sectionDesc {
        font-size: var(--text-desc);
        margin-bottom: 40px;
      }
      .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
    }
    .iconContainer {
      background-color: var(--bg-sec-color);
      margin-right: 14px;
      font-size: 22px;
      padding: 0.6em;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: middle;
      display: flex;

      &:hover {
        background-color: var(--bg-hover-color);
      }
    }
    .icon {
      color: var(--text-color);
    }
  }

  .aboutMe {
    @extend .flexCenter;
    background-color: var(--about-me);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));

    .aboutContent {
      @extend .gridPattern;
    }

    .aboutDesc {
      @extend .flexCenter;
      margin-top: 120px;

      .aboutDetails {
        @extend .flexCenter;
        flex: 2;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 50px;

        div {
          font-size: 18px;
          font-weight: 300;
          p {
            font-size: 18px;
          }
        }
      }
      .aboutImg {
        flex-direction: column;
        position: relative;
        border-radius: 50%;
        border: 12px solid var(--text-color);
        box-shadow: var(--smooth-shadow-def);
      }
      .profilePic2 {
        width: 350px;
        border-radius: 50%;
      }
    }
  }

  .skills {
    @extend .flexCenter;
    background-color: var(--skills);
    position: relative;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
    margin-top: -100px;

    .skillsContent {
      @extend .dotPattern;
      align-self: stretch;
    }

    .skillBox {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      flex-direction: column;

      .progressBox {
        display: flex;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;

        .dev {
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--bg-color);
          position: relative;
          transition: flex 0.3s ease-in-out;
        }

        .dev1 {
          flex: 5;
          margin-right: 25px;
          background: var(--bar-color);
        }
        .dev1:after {
          @extend .devAfter;
          background: var(--bar-color);
        }
        .dev1:hover {
          flex: 6;
        }

        .dev2 {
          flex: 3;
          margin-right: 25px;
          background: var(--bar-color2);
        }
        .dev2:after {
          @extend .devAfter;
          background: var(--bar-color2);
        }
        .dev2:before {
          @extend .devBefore;
          background: var(--bar-color2);
        }
        .dev2:hover {
          flex: 4;
        }

        .dev3 {
          flex: 2;
          background: var(--bar-color3);
        }
        .dev3:before {
          @extend .devBefore;
          background: var(--bar-color3);
        }
        .dev3:hover {
          flex: 3;
        }

        .devAfter {
          content: " ";
          position: absolute;
          width: 25px;
          height: 100%;
          top: 0;
          right: 0;
          transform-origin: bottom left;
          -ms-transform: skew(-30deg, 0deg);
          -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
        }
        .devBefore {
          content: " ";
          position: absolute;
          width: 20px;
          height: 100%;
          top: 0;
          left: -20px;
          transform-origin: bottom left;
          -ms-transform: skew(-30deg, 0deg);
          -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
        }
      }

      // ===================
      // CARDS
      // ===================
      $size: 180px;

      .skillProgress {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        align-self: stretch;
        flex-wrap: wrap;
        max-width: 950px;
        margin-top: 50px;

        .skillCard {
          display: flex;
          height: $size;
          width: $size;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-top: 10px;

          .skillCircle {
            height: $size;
            width: $size;
            display: flex;
            justify-content: center;
            align-items: center;

            .backStroke {
              stroke: var(--skill-back);
              stroke-dasharray: 377;
              stroke-dashoffset: 0;
              stroke-width: 10px;
              fill: transparent;
            }

            .hoverCircle {
              stroke: var(--skill-hover);
              stroke-width: 10px;
              stroke-dasharray: 377;
              fill: transparent;
              transition: stroke-dashoffset 1s;
              stroke-linecap: round;
            }
            .transformCircle {
              fill: transparent;
              transform-origin: center;
              transform: scale(0.9, 0.9);
            }
            .stroke {
              stroke: var(--skill-circle-back);
              stroke-width: 10px;
              stroke-dasharray: 377;
              fill: transparent;
              transition: stroke-dashoffset 1s 0.5s;
              stroke-linecap: round;

              &.html95 {
                stroke-dashoffset: 377 - (377 * 0.95);
              }
              &.html90 {
                stroke-dashoffset: 377 - (377 * 0.9);
              }
              &.html85 {
                stroke-dashoffset: 377 - (377 * 0.85);
              }
              &.html80 {
                stroke-dashoffset: 377 - (377 * 0.8);
              }
              &.html70 {
                stroke-dashoffset: 377 - (377 * 0.7);
              }
              &.html65 {
                stroke-dashoffset: 377 - (377 * 0.65);
              }
            }
          }
          .circleContent {
            @extend .flexCenter;
            position: absolute;
            top: 40px;
            left: 20px;
            flex-direction: column;
            width: 100px;
            height: 100px;

            .skillIcon {
              color: var(--text-color);
              fill: var(--text-color);
              font-size: 32px;
              margin-bottom: 5px;
            }
            .skillRating {
              color: var(--text-color);
              font-size: 12px;
            }
          }
          .skillText {
            @extend .flexCenter;
            width: 100px;
            position: absolute;
            top: 90%;
            left: 20px;
            color: var(--text-color);
            font-size: 14px;
          }
        }
        .skillCard:hover {
          .hoverCircle {
            &.html95 {
              stroke-dashoffset: 377 - (377 * 0.95);
            }
            &.html90 {
              stroke-dashoffset: 377 - (377 * 0.9);
            }
            &.html85 {
              stroke-dashoffset: 377 - (377 * 0.85);
            }
            &.html80 {
              stroke-dashoffset: 377 - (377 * 0.8);
            }
            &.html70 {
              stroke-dashoffset: 377 - (377 * 0.7);
            }
            &.html65 {
              stroke-dashoffset: 377 - (377 * 0.65);
            }
          }
          .transformCircle {
            fill: var(--skill-back);
            transform: scale(1, 1);
            transition: transform 0.2s;
          }
          .circleContent {
            transform: scale(1.1, 1.1);
            transition: transform 0.2s;
          }
        }
      }
    }
  }

  .projects {
    background-color: var(--projects);
    display: flex;
    flex: 1;
    position: relative;
    clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0 100%);
    margin-top: -100px;

    .projectsContent {
      @extend .gridPattern;
      @extend .flexCenter;
      flex-direction: column;
    }

    .projectsRow {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      justify-content: center;
      max-width: 950px;

      .projectBox {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        perspective: 1000px;
        animation: animateIn 0.35s both ease-in-out;

        .projectBack {
          background-color: var(--project-card-back);
          display: block;
          width: 100%;
          height: 100%;

          .projectContent {
            background-color: var(--project-card-color);
            color: var(--project-card-content);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
          }

          // clip the right side of left div
          .projectContentLeft {
            clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
            -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
          }

          // clip the left side of right div
          .projectContentRight {
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
            -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
            transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
          }
        }
        .projectBack:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          width: 14px;
          height: 14px;
          margin-top: -10px;
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
          -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
          background-color: var(--text-color);
          opacity: 0;
          transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
        }
        .projectBack:hover {
          box-shadow: var(--smooth-shadow2);
        }
        .projectBack:hover .projectContentRight {
          background-color: var(--project-card-color);
          transform: rotateY(-50deg);
        }

        // animate the right arrow in background
        .projectBack:hover:after {
          opacity: 1;
          transform: translateX(10px);
          transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
        }

        .imgContainer {
          display: flex;
          flex: 2;
          overflow: hidden;
          z-index: 201;
          background-color: var(--project-card-color);

          .projectImg {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            overflow: hidden;
          }
        }

        .projDesc {
          display: flex;
          flex: 1;
          flex-direction: column;
          background-color: var(--project-card-color);
          padding: 10px 10px 5px 15px;
          color: var(--text-color);

          .projectTech {
            display: flex;
            flex-direction: row;
            margin-top: -20px;
            margin-bottom: -10px;

            h6 {
              border: 0.5px solid var(--project-tag-border);
              background-color: var(--project-tag);
              padding: 5px 8px;
              margin-right: 3px;
              border-radius: 15px;
            }
          }
        }
      }
      .projectBox:before {
        content: "";
        position: absolute;
        top: -30px;
        left: -30px;
        border: 2px dashed var(--primary);
        background-image: repeating-linear-gradient(
          -24deg,
          transparent,
          transparent 4px,
          rgba(0, 0, 0, 0.9) 0,
          rgba(0, 0, 0, 0.9) 5px
        );
        z-index: -1;
      }

      .projectBox,
      .projectBox:before {
        width: 400px;
        height: 350px;
        margin: 20px;
      }
    }

    .flipButton {
      background: none;
      border: none;
      box-sizing: border-box;
      width: 200px;
      height: 60px;
      perspective: 500px;
      position: relative;
      margin: 50px 0 50px 0px;

      .viewMore {
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transform: translateZ(-25px);
        transition: transform 0.3s;
        cursor: pointer;

        .viewMoreFront,
        .viewMoreBack {
          margin: 0;
          width: 160px;
          height: 48px;
          line-height: 48px;
          position: absolute;
          text-align: center;
          letter-spacing: 0.4em;
          padding: 10px;
        }
        .viewMoreFront {
          background-color: #222;
          color: #fff;
          transform: rotateY(0) translateZ(35px);
        }
        .viewMoreBack {
          background-color: rgba(255, 255, 255, 0);
          color: rgba(34, 34, 34, 0);
          transform: rotateX(90deg) translateZ(28px);
          overflow: hidden;
        }
        .viewMoreBack::after {
          content: "";
          position: absolute;
          top: -32%;
          left: -10%;
          width: 120%;
          height: 50%;
          background: #222;
          transform: rotate(10deg);
          transition: all 0.5s ease;
          transition-delay: 0.15s;
        }
      }
      .viewMore:hover {
        transform: translateZ(-28px) rotateX(-90deg);

        .viewMoreFront {
          background: #000;
          transition: all 0.8s ease;
        }
        .viewMoreBack {
          color: #222;
          transition: color 0.4s linear;
          background: #fff;
        }
        .viewMoreBack:after {
          transform: rotate(6deg) translate(100px, -22px);
        }
      }
    }
  }

  .experience {
    background-color: var(--experience);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
    margin-top: -100px;

    .experienceContent {
      @extend .dotPattern;
      @extend .flexCenter;
      padding: 80px 0 50px 0;
      flex-direction: column;
      align-self: stretch;
      position: relative;
    }
    .experienceBox {
      position: absolute;
      top: 160px;
      left: 50%;
      transform: translateX(-50%);
      border: 0.5px solid var(--exp-line);
      height: 100px;
      width: 80%;
    }

    .expHeader {
      padding: 100px 70px;
      font-size: 46px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .timeline {
      position: relative;
      margin: 0 auto;
      padding: 50px 0;
      margin-top: -75px;
      margin-bottom: 80px;
    }
    // center line
    .timeline::before {
      content: "";
      position: absolute;
      width: 2px;
      background-color: var(--exp-line);
      top: 0;
      bottom: 0;
      right: 50%;
      z-index: 201;
    }
    // center Pipe
    .timeline::after {
      content: "";
      position: absolute;
      width: 120px;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translatex(-50%);
    }

    .expContainer {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 400px;
      background-color: var(--exp-card-container);
      box-shadow: var(--smooth-shadow-def);
    }
    .expContainer::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: var(--exp-line);
      top: 30%;
      z-index: 1;
    }
    .expContainer::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: var(--exp-line);
      top: 28%;
      z-index: 1;
    }
    .left {
      left: calc(-50% - 60px);
    }
    .right {
      left: calc(50% + 60px);
    }
    .left::after {
      right: -60px;
    }
    .right::after {
      left: -61px;
    }
    .left::before {
      right: -65px;
    }
    .right::before {
      left: -67px;
    }

    .timeContainer {
      position: absolute;
      left: 100%;
      top: 6%;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      padding: 0 0 5px 5px;
    }
    .leftTime {
      left: 100%;
    }
    .rightTime {
      left: -13%;
      top: 1%;
    }

    .content {
      padding: 0px 30px;
      position: relative;
      border-radius: 6px;
      a {
        color: var(--text-color);
        text-decoration: none;
      }
      p {
        font-size: 14px;
        line-height: 1.7em;
      }
    }
    .box1 {
      margin-top: -20px;
    }
    .box2 {
      margin-top: -10px;
    }
    .box3 {
      margin-top: -10px;
    }
  }

  .contacts {
    background-color: var(--contacts);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    position: relative;

    .contactBox {
      backdrop-filter: blur(2px);
      position: absolute;
      display: flex;
      align-self: stretch;
      flex: 1;
      top: -130px;
      left: 50%;
      transform: translateX(-50%);
      height: 450px;
      width: 70%;
      border: 0.5px solid var(--exp-line);
    }

    .contactInfo {
      display: flex;
      flex-direction: row;
    }

    .contactInfo > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 10px;
      padding: 5px;
      position: relative;

      .contactIcon {
        font-size: 1em;
        color: #fff;
        position: absolute;
        transition: all 265ms ease-out;
      }
      .contactTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .column:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 45px;
      height: 45px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #6181a8, #415875);
      transition: all 265ms ease-out;
    }
    .column:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in;
    }
    .column:hover {
      .contactIcon {
        transform: scale(2.2);
        -ms-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        color: #6181a8;
        background: -webkit-linear-gradient(45deg, #6181a8, #415875);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: all 265ms ease-in;
      }
    }
  }

  .footer {
    background-color: var(--contacts);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 700px) {
  .mobileContainer {
    padding: 10px 20px;
  }

  .divider {
    height: 70px;
  }

  .container {
    .tag3 {
      bottom: 35%;
    }

    .home {
      height: 800px;
      flex-direction: column;

      .myPic {
        .profilePic {
          width: 200px;
          height: 200px;
        }
      }
      .myDesc {
        .row {
          align-items: center;
          justify-content: center;
        }
      }
    }

    .aboutMe {
      padding-bottom: 100px;
      .aboutContent {
        @extend .mobileContainer;
      }

      .aboutDesc {
        flex-direction: column;

        .aboutDetails {
          margin-right: 5px;
        }
        .profilePic2 {
          width: 250px;
          border-radius: 50%;
        }
      }
    }

    .skills {
      padding-top: 50px;
      padding-bottom: 100px;

      .skillsContent {
        @extend .mobileContainer;
      }

      .skillBox {
        flex-direction: column;

        .progressBox {
          width: 280px;

          .dev {
            font-size: 12px;
            height: 30px;
          }
          .dev1 {
            margin-right: 10px;
          }
          .dev2 {
            margin-right: 10px;
          }
          .dev3 {
            padding-left: 10px;
          }

          .devAfter {
            width: 5px;
            -ms-transform: skew(-10deg, 0deg);
            -webkit-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg);
          }
          .devBefore {
            width: 7px;
            left: -5px;
            -ms-transform: skew(-10deg, 0deg);
            -webkit-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg);
          }
        }

        $size: 90px;
        .skillProgress {
          justify-content: space-between;
          margin: 50px 10px 0 10px;
          align-self: stretch;

          .skillCard {
            height: $size;
            width: $size;
            margin-top: 20px;

            .skillCircle {
              height: $size;
              width: $size;

              svg > circle {
                transform: scale(0.5, 0.5);
              }
              .transformCircle {
                display: none;
              }
            }
            .circleContent {
              top: -14px;
              left: 15px;
              width: 40px;
              height: 40px;

              .skillIcon {
                font-size: 14px;
                margin-bottom: 1px;
              }
              .skillRating {
                font-size: 10px;
              }
            }
            .skillText {
              font-size: 12px;
              width: 60px;
              top: 48%;
              left: 5px;
              text-align: center;
            }
          }
          .skillCard:hover {
            // .transformCircle {
            //   fill: var(--skill-back);
            //   transform: scale(0.9, 0.9);
            //   transition: transform 0.2s;
            // }
            // .circleContent {
            //   transform: scale(1.1, 1.1);
            //   transition: transform 0.2s;
            // }
          }
        }
      }
    }

    .projects {
      padding-top: 50px;
      padding-bottom: 100px;

      .projectsContent {
        @extend .mobileContainer;
      }
      .projectsRow {
        width: 280px;
        height: 300px;

        .projectBox {
          .projectBack {
            width: 280px;
            height: 280px;
          }

          .projDesc {
            padding: 6px 6px 2px 10px;
            color: var(--text-color);

            .projectTech {
              margin-top: -20px;
              margin-bottom: -10px;

              h6 {
                border: 0.5px solid var(--project-tag-border);
                background-color: var(--project-tag);
                padding: 2px 5px;
                margin-right: 3px;
                border-radius: 15px;
              }
            }
          }
        }
        .projectBox,
        .projectBox:before {
          width: 280px;
          height: 300px;
          margin: 20px;
        }
      }
    }

    .experience {
      .experienceBox {
        display: none;
      }
      .expHeader {
        font-size: 40px;
        font-weight: 400;
      }
      .timeline {
        width: 100%;
      }
      .timeline::before {
        left: 0;
      }
      .timeline::after {
        left: 4px;
        width: 40px;
      }
      /* Full-width containers */
      .expContainer {
        width: 80%;
        margin-left: 10px;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
      }
      .expContainer::after {
        width: 15%;
        height: 1px;
        top: 40%;
      }
      .expContainer::before {
        width: 12px;
        height: 12px;
        top: 38%;
        left: -17%;
      }
      .left,
      .right {
        left: 10%;
      }
      .left::after,
      .right::after {
        left: -15%;
      }

      .timeContainer {
        font-size: 10px;
      }
      .leftTime {
        left: -16%;
        top: 18%;
      }
      .rightTime {
        left: -16%;
        top: 13%;
      }

      .content {
        padding: 0px 15px;
      }
    }

    .contacts {
      .contactBox {
        display: none;
      }
    }
  }
}
