.container {
  display: flex;
  flex: 1;
  align-self: stretch;
  flex-direction: column;

  .respImg {
    width: 100%;
    height: auto;
  }
  .sectionHeader {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionDesc {
    font-size: 22px;
    text-align: left;
  }
  .background {
    z-index: 200;
  }
  .scroll {
    z-index: 10;
    background-color: var(--bg-color);
  }

  .tag1 {
    position: absolute;
    top: 8%;
    left: 4%;
  }
  .tag2 {
    position: absolute;
    top: 13%;
    left: 8%;
  }
  .tag3 {
    position: absolute;
    bottom: 15%;
    left: 8%;
  }
  .tag4 {
    position: absolute;
    bottom: -10%;
    left: 8%;
  }
  .tag5 {
    position: absolute;
    bottom: -6%;
    left: 39%;
  }

  .home {
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
    flex: 1;
    flex-direction: row;

    .myPic {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .profilePic {
        width: 400px;
        border-radius: 50%;
      }
    }

    .myDesc {
      flex: 1;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(1px);
      padding: 20px;

      &:hover {
        backdrop-filter: blur(3px);
        transition: all 0.2s linear;
      }

      .section1 {
        font-size: 46px;
        font-weight: 900;
        line-height: 1em;
        margin-bottom: 40px;
      }
      .section2 {
        font-size: 25px;
        margin-bottom: 40px;
      }
      .sectionDesc {
        font-size: 18px;
        margin-bottom: 40px;
      }
      .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
    }
    .iconContainer {
      background-color: var(--bg-sec-color);
      margin-right: 14px;
      font-size: 22px;
      padding: 0.6em;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: middle;
      display: flex;

      &:hover {
        background-color: var(--bg-hover-color);
      }
    }
    .icon {
      color: var(--text-color);
    }
  }

  .aboutMe {
    background-color: var(--about-me);
    padding: 100px 200px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }

  .skills {
    background-color: var(--skills);
    padding: 100px 200px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .skillBox {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      flex-direction: column;

      .progressBox {
        display: flex;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;

        .dev {
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #000;
          position: relative;
        }

        .dev1 {
          flex: 5;
          margin-right: 25px;
        }
        .dev1:after {
          @extend .devAfter;
        }

        .dev2 {
          flex: 3;
          margin-right: 25px;
        }
        .dev2:after {
          @extend .devAfter;
        }
        .dev2:before {
          @extend .devBefore;
        }

        .dev3 {
          flex: 2;
        }
        .dev3:before {
          @extend .devBefore;
        }

        .devAfter {
          content: " ";
          position: absolute;
          width: 25px;
          height: 100%;
          top: 0;
          right: 0;
          background: #000;
          transform-origin: bottom left;
          -ms-transform: skew(-30deg, 0deg);
          -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
        }
        .devBefore {
          content: " ";
          position: absolute;
          width: 18px;
          height: 100%;
          top: 0;
          left: -18px;
          background: #000;
          transform-origin: bottom left;
          -ms-transform: skew(-30deg, 0deg);
          -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
        }
      }

      // ===================
      // CARDS
      // ===================
      .skillProgress {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        align-self: stretch;
        flex-wrap: wrap;

        .skillCard {
          display: flex;
          height: 200px;
          width: 200px;
          justify-content: center;
          align-items: center;
          position: relative;

          .skillCircle {
            height: 200px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            .backStroke {
              stroke: black;
              stroke-dasharray: 377;
              stroke-dashoffset: 0;
              stroke-width: 10px;
              fill: transparent;
            }

            .hoverCircle {
              stroke: white;
              stroke-width: 10px;
              stroke-dasharray: 377;
              fill: transparent;
              transition: stroke-dashoffset 1s;
              stroke-linecap: round;
            }
            .transformCircle {
              fill: transparent;
              transform-origin: center;
              transform: scale(0.9, 0.9);
            }
            .stroke {
              stroke: grey;
              stroke-width: 10px;
              stroke-dasharray: 377;
              fill: transparent;
              transition: stroke-dashoffset 1s 0.5s;
              stroke-linecap: round;

              &.html95 {
                stroke-dashoffset: 377 - (377 * 0.95);
              }
              &.html90 {
                stroke-dashoffset: 377 - (377 * 0.9);
              }
              &.html85 {
                stroke-dashoffset: 377 - (377 * 0.85);
              }
              &.html80 {
                stroke-dashoffset: 377 - (377 * 0.8);
              }
              &.html70 {
                stroke-dashoffset: 377 - (377 * 0.7);
              }
              &.html65 {
                stroke-dashoffset: 377 - (377 * 0.65);
              }
            }
          }
          .test1 {
            position: absolute;
            top: 50px;
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100px;
            height: 100px;

            .skillText {
              color: var(--text-color);
              font-size: 14px;
            }
            .skillRating {
              color: var(--text-color);
              font-size: 12px;
            }
          }
        }
        .skillCard:hover {
          .hoverCircle {
            &.html95 {
              stroke-dashoffset: 377 - (377 * 0.95);
            }
            &.html90 {
              stroke-dashoffset: 377 - (377 * 0.9);
            }
            &.html85 {
              stroke-dashoffset: 377 - (377 * 0.85);
            }
            &.html80 {
              stroke-dashoffset: 377 - (377 * 0.8);
            }
            &.html70 {
              stroke-dashoffset: 377 - (377 * 0.7);
            }
            &.html65 {
              stroke-dashoffset: 377 - (377 * 0.65);
            }
          }
          .transformCircle {
            fill: #000;
            transform: scale(1, 1);
            transition: transform 0.2s;
          }
          .test1 {
            transform: scale(1.1, 1.1);
            transition: transform 0.2s;
          }
        }
      }
    }

    .progress {
      border: 2px solid;
      width: 80%;
      height: 30px;
      background-color: #ddd;
      display: flex;
      margin: 2px 5px;

      .skillName {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .tagContainer {
        width: 80%;
        background-color: #ddd;
        display: flex;
      }
      // .html95 {
      //   width: 95%;
      // }
      // .html90 {
      //   width: 90%;
      // }
      // .html85 {
      //   width: 85%;
      // }
      // .html80 {
      //   width: 80%;
      // }
      // .html70 {
      //   width: 70%;
      // }
      .skillsTag {
        background-color: #4caf50;
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }
    }
  }

  .projects {
    background-color: var(--projects);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c1f4e;

    .projectsRow {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      justify-content: center;
      max-width: 950px;

      .projectsBox {
        background-color: var(--bg-color);
        border-radius: 4px;
        box-shadow: 1px 2px 2px 0px var(--text-color);
        margin: 5px;
        overflow: hidden;
        border: 1px solid var(--text-color);
        width: 430px;
        height: 350px;
        display: flex;
        flex-direction: column;

        .imgContainer {
          display: flex;
          flex: 1;
          border: 2px solid;
          overflow: hidden;

          .projectImg {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            overflow: hidden;
          }
        }

        .projDesc {
          display: flex;
          flex: 1;
          border: 2px solid;
          flex-direction: column;
          // padding: 15px 40px 40px 40px;

          .projectTech {
            display: flex;
            flex-direction: row;
            font-size: 10px;

            .techTag {
              border: 1px solid;
              background-color: #4caf50;
              padding: 2px;
              margin: 2px;
            }
          }
          .desc {
            font-size: 14px;
          }
        }
      }
    }
    .viewMore {
      padding: 15px;
      margin: 20px;
      margin-top: 50px;
      font-size: 26px;
      border: 2px solid white;
    }
  }

  .experience {
    background-color: var(--experience);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .expDivider {
      border-bottom: 1px solid black;
      width: 1000%;
    }

    .timeline {
      position: relative;
      margin: 0 auto;
    }
    // center line
    .timeline::before {
      content: "";
      position: absolute;
      width: 1px;
      background-color: #000;
      top: 0;
      bottom: 0;
      right: 50%;
      z-index: 201;
    }
    // center Pipe
    .timeline::after {
      content: "";
      position: absolute;
      width: 120px;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translatex(-50%);
    }

    .expContainer {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 400px;
      border: 1px solid;
      background-color: var(--bg-color);
    }
    .expContainer::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 1px;
      background-color: #000;
      top: 30%;
      z-index: 1;
    }
    .left {
      left: calc(-50% - 60px);
    }
    .right {
      left: calc(50% + 60px);
    }
    .left::after {
      right: -60px;
    }
    .right::after {
      left: -60px;
    }

    .testTime {
      position: absolute;
      left: 100%;
      top: 13%;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: flex-end;
      font-size: 12px;
    }
    .leftTime {
      left: 100%;
    }
    .rightTime {
      left: -13%;
      top: 9%;
    }

    .content {
      padding: 0px 30px;
      position: relative;
      border-radius: 6px;
    }
    .box1 {
      margin-top: -80px;
    }
    .box2 {
      margin-top: -80px;
    }
    .box3 {
      margin-top: -100px;
    }
  }

  .contacts {
    background-color: var(--contacts);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;

    .contactInfo {
      display: flex;
      flex-direction: row;
    }

    .contactInfo > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 10px;
      padding: 5px;
      position: relative;

      .contactIcon {
        font-size: 1em;
        color: #fff;
        position: absolute;
        transition: all 265ms ease-out;
      }
      .contactTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .column:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 45px;
      height: 45px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #ff003c, #c648c8);
      transition: all 265ms ease-out;
    }
    .column:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in;
    }
    .column:hover {
      .contactIcon {
        transform: scale(2.2);
        -ms-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        color: #ff003c;
        background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: all 265ms ease-in;
      }
    }
  }

  .footer {
    background-color: var(--contacts);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    .tag3 {
      bottom: 35%;
    }

    .home {
      height: 800px;
      flex-direction: column;

      .myPic {
        .profilePic {
          width: 200px;
          height: 200px;
        }
      }
      .myDesc {
        .row {
          align-items: center;
          justify-content: center;
        }
      }
    }

    .aboutMe {
      padding: 10px 20px;
    }

    .skills {
      padding: 10px 20px;

      .skillBox {
        display: flex;
        flex-direction: column;

        .skillProgress {
          margin-top: 50px;
          align-self: stretch;
        }
        .progress {
          width: 100%;

          .skillName {
            font-size: 14px;
            display: flex;
            width: 150px;
            justify-content: flex-start;
          }
        }
      }
    }

    .projects {
      .projectsRow {
        width: 300px;
        height: 350px;
      }
    }

    .experience {
      .expDivider {
        width: 100%;
      }
      .timeline {
        width: 100%;
      }
      .timeline::before {
        left: 0;
      }
      .timeline::after {
        left: 4px;
        width: 20px;
        // border: 3px solid yellow;
      }
      /* Full-width containers */
      .expContainer {
        width: 280px;
        padding-left: 0px;
        padding-right: 0px;
        border: 2px solid;
      }
      .expContainer::after {
        width: 60px;
        height: 1px;
        top: 20%;
        border: 2px solid yellow;
      }
      .left,
      .right {
        left: 10%;
      }
      .left::after,
      .right::after {
        left: -40px;
      }

      .testTime {
        border: 2px solid yellow;
        font-size: 10px;
      }
      .leftTime {
        left: -13%;
        top: 4%;
      }
      .rightTime {
        left: -13%;
        top: 1%;
      }
    }
  }
}
