$montserrat: "Montserrat", sans-serif;
$laBelleAurore: "La Belle Aurore", sans-serif;

:root {
  --bg-color: #fbfaf8;
  --bg-sec-color: #feffff;
  --bg-hover-color: #c5c0b6;

  --text-color: #292a32;
  --text-hover-color: #fbfaf8;
  --text-shade-color: #747783;
  --highlights: #0050fb;

  --about-me: #3b3355;
  --skills: #9e8650;
  --projects: #22333b;
  --experience: #2f1000;
  --contacts: #313e50;

  --gradient-start: #c5c0b6;
  --gradient-end: #fbfaf8;
  --smooth-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --smooth-shadow-def: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --bg-cover: rgba(255, 255, 255, 0.009);

  --heading: 46px;
  --sub-heading: 25px;
  --text-desc: 18px;
}

[data-theme="dark"] {
  --bg-color: #292a32;
  --bg-sec-color: #2c2f2e;
  --bg-hover-color: #1c1d20;

  --text-color: #fbfaf8;
  --text-hover-color: #fbfaf8;
  --text-shade-color: #747783;
  --highlights: #0050fb;

  --about-me: #171a23;
  --skills: #191e28;
  --projects: #171b24;
  --experience: #141820;
  --contacts: #12151c;

  --gradient-start: #090c08;
  --gradient-end: #121810;
  --smooth-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
  --bg-cover: rgba(255, 255, 255, 0.009);
}

html {
  font-family: $montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;

  transition: all 0.2s linear;
}

.tag {
  font-family: $laBelleAurore;
  font-size: 18px;
  color: var(--text-shade-color);
}
